* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.tbs {
    border: 1px solid gray;
    overflow-x: scroll;
}

td.box {
    position: relative;
    border: 1px solid red;
    padding: 2vw;
    background: white;
    transition: background 1s;
}